
   <div class="section no-padding st-invert">
      <section>
         <ul id="gallery-w-preview" class="gallery gl-cols-5 gl-fixed-items" style="position: relative; height: 1002px;">
            <%= render 'listing' %>
         </ul> <!-- gallery -->
      </section>
   </div> <!-- section -->
   <div id="footer" class="ft-single-post text-center">
      <footer>
         <a href="#" class="footer-loadmore" data-link="#" data-offset="5" data-items-per-page="5">Load more</a>
         <span class="loading-spinner" style="display:none;"></span>
      </footer>
   </div>
