<div id="header-mobile" class="visible-xs">
  <header>
		<div class="m-header-body">
		  <p class="m-site-descr logo_class">Versuasions Quotes</p>
		</div>
  </header>
</div>

<div id="header" class="hd-filters">
  <header>
     <ul class="gallety-filters" style="color: white">
        <li class="active" style="color: white"><a data-filter="*" style="color: white">All</a></li>
        <li><a data-filter="nature" style="color: white">Nature</a></li>
        <li><a data-filter="fashion" style="color: white">Fashion</a></li>
        <li><a data-filter="people" style="color: white">People</a></li>
        <li><a data-filter="animals" style="color: white">Animals</a></li>
        <li class="gf-underline" style="left: 0px; width: 103px;"></li>
     </ul>
  </header>
</div>