<div id="header-mobile" class="visible-xs">
  <header>
		<div class="m-header-body">
		  <p class="m-site-descr">Multipurpose Portfolio</p>
		</div>
  </header>
</div>

<div id="header" class="hd-filters">
  <header>
     <ul class="gallety-filters">
        <li class="active"><a data-filter="*" href="http://d.azelab.com/mental/Demo/home-expanding-preview.html#">All</a></li>
        <li><a data-filter="nature" href="http://d.azelab.com/mental/Demo/home-expanding-preview.html#">Nature</a></li>
        <li><a data-filter="fashion" href="http://d.azelab.com/mental/Demo/home-expanding-preview.html#">Fashion</a></li>
        <li><a data-filter="people" href="http://d.azelab.com/mental/Demo/home-expanding-preview.html#">People</a></li>
        <li><a data-filter="animals" href="http://d.azelab.com/mental/Demo/home-expanding-preview.html#">Animals</a></li>
        <li class="gf-underline" style="left: 0px; width: 103px;"></li>
     </ul>
  </header>
</div>