<div id="menu-bar">
   <aside>
      <div class="mb-body ps-container" style="position: relative; overflow: hidden;">
         <div class="mb-header hidden-xs">
            <p class="mb-site-descr logo_class">VersuasionsQuotes</p>
         </div>
         <div class="mb-content">
            <nav>
               <ul id="mb-main-menu">
                  <li class="menu-item-has-children">
                     <a style="color: white">Blog</a>
                     <a class="submenu-toggler" href="#" style="color: white"><i class="fa fa-plus"></i></a>
                     <ul>
                        <li><a href="http://www.versuasions.com/blog/" style="color: white">Versuasions</a></li>
                        <li><a href="http://www.versuasionsindia.com/blog/" style="color: white">Versuasionsindia</a></li>
                     </ul>
                  </li>
                  <li><a href="mailto:info@versuasionsquotes.com" style="color: white">Contact</a></li>
               </ul>
            </nav>
         </div>
         <div class="mb-footer">
            <div class="mb-social" >
               <a href="https://twitter.com/VersQuotes?lang=en" style="color: white"><i class="fa fa-twitter"></i></a>
               <a href="https://www.facebook.com/VersuasionsQuotes/" target="_blank" style="color: white"><i class="fa fa-facebook"></i></a>
               <a href="#" style="color: white"><i class="fa fa-google-plus"></i></a>
               <a href="https://twitter.com/VersQuotes?lang=en" target="_blank" style="color: white"><i class="fa fa-instagram"></i></a>
               <a href="https://www.pinterest.com/versuasionsquot/" target="_blank" style="color: white"><i class="fa fa-pinterest"></i></a>
            </div>
            <div class="mb-copyright" style="color: white">
               <p style="color: white">© 2014 All rights reserved</p>
               <p style="color: white">Developed by Versuasions</p>
            </div>
         </div>
      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px; width: 215px; display: none;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px; height: 726px; display: inherit;"><div class="ps-scrollbar-y" style="top: 0px; height: 671px;"></div></div></div> <!-- mb-body -->
      <a href="#" style="color: white" class="mb-toggler"><i class="fa fa-bars"></i></a>
   </aside>
</div>
