<div id="menu-bar">
   <aside>
      <div class="mb-body ps-container" style="position: relative; overflow: hidden;">
         <div class="mb-header hidden-xs">
            <%#= image_tag asset_path("logo.png"), class: "logo" %>
            <p class="mb-site-descr">Multipurpose Portfolio</p>
         </div>
         <div class="mb-content">
            <nav>
               <ul id="mb-main-menu">
                  <li class="menu-item-has-children">
                     <a href="#">Home</a>
                     <a class="submenu-toggler" href="#"><i class="fa fa-plus"></i></a>
                     <ul>
                        <li><a href="#">Home v1 - Sidebar Menu / Gallery</a></li>
                     </ul>
                  </li>
                  <li class="menu-item-has-children">
                     <a>Gallery</a>
                     <a class="submenu-toggler" href="#"><i class="fa fa-plus"></i></a>
                     <ul>
                        <li><a href="#">Gallery 3 Column Grid</a></li>
                     </ul>
                  </li>
                  <li><a href="about-us.html">About Us</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li class="menu-item-has-children">
                     <a>Blog</a>
                     <a class="submenu-toggler" href="#"><i class="fa fa-plus"></i></a>
                     <ul>
                        <li><a href="blog-sidebar.html">Blog with Sidebar</a></li>
                     </ul>
                  </li>
                  <li><a href="shortcodes.html">Shortcodes</a></li>
                  <li><a href="contact.html">Contact</a></li>
               </ul>
            </nav>
         </div>
         <div class="mb-footer">
            <h4>About us</h4>
            <p>We are team of creative photographers. We passionate with photography and other creative things.</p>
            <div class="mb-social">
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-google-plus"></i></a>
               <a href="#"><i class="fa fa-instagram"></i></a>
               <a href="#"><i class="fa fa-pinterest"></i></a>
               <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>
            <div class="mb-copyright">
               <p>© 2014 All rights reserved</p>
               <p>Developed by Versuasions</p>
            </div>
         </div>
      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px; width: 215px; display: none;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px; height: 726px; display: inherit;"><div class="ps-scrollbar-y" style="top: 0px; height: 671px;"></div></div></div> <!-- mb-body -->
      <a href="#" class="mb-toggler"><i class="fa fa-bars"></i></a>
   </aside>
</div>